body, input, textarea, select, a {
  color: #000;
  background: none;
}

#header, #header_menu, #busca, #newuser{
  display: none !important;
}

#content{
  margin:0px;
  padding:0px;
  width:100% !important;
}

#hcard-ac {
padding-top:0px !important;
}

.hideprint{
 display:none;
}

.lista{
	width:96%; 
	text-align:center !important; 
}
.lista th{
   border:solid 1px #000 !important; 
}
.lista td{
   border:solid 1px #000 !important;  
   padding:5px;   
}
tr .cor{
	background:#eee !important;
}
tfoot td{
 	font-size:0pt;
	height:5pt !important;
}
