body {
    background: #f5f3e6 url(../images/body_bg.jpg) repeat-x;
    background-position:top center;
    color: #2a160e;
    font-size: 0.7em;
    text-align: left;
}


.clear { clear: both; }

#container {
	margin: 0;  
    min-height: 400px;
	padding: 0;
	text-align: center;    
	width: 100%;
}

#content {
	background: url(../images/content_bg.jpg) repeat-x;
 	margin: 0 auto;
	padding:0px;
	text-align: justify;
	min-height:300px;
}

* html #content {
  position: relative;
}

#header {
  height:150px;
  overflow: hidden;
  margin-bottom: 20px;
  text-align:right !important;
}

#header .logo{
    background: url(../images/logo.png) no-repeat;
    width: 400px;
    height: 126px;
    margin-left: 15px;
    margin-top: 15px;
}

#busca {
  height:20px;
  padding:10px;
  overflow: hidden;
}

.campo{
	background: url(../images/campo_bg.jpg) no-repeat !important;
	border:none !important;
	overflow:hidden;
	padding:0px;
	padding-left:4px;
	padding-right:5px;
	height:23px;
	width:160px;
}	

.legenda{
    display:block;
	margin:3px;
}

.legenda input{
	border:none !important;
	margin-right:5px;
}
.botao{
	background: url(../images/botao_bg.png) no-repeat !important;
	border:none !important;
	display:block;
	height:24px;
	margin:0px;
	padding:0px;	
	position:relative;
	top:-3px;
	width:33px;
	
}

#newuser{
	background: url(../images/newuser_bg.png) no-repeat !important;
	border:none !important;
	
	height:87px;
	margin:0px;
	padding:0px;	
	width:309px;
}

#newuser span {
  line-height:220px;
  overflow:hidden;
  display:block;
}

#newuser a, #newuser  a:hover {
	display: block;
	height: 52px;       
	top:17px;
	text-decoration: none;
	width: 360px;  
}

#center{
	padding:5px;
}


.lista{
	margin:auto;
	padding:0px;
	text-align:center;
	width:800px;  
}

.lista th{
   background:#abb64a url(../images/th_bg.png) repeat-x !important;
   border:solid 1px #33522a;   
   padding:0px;
   height:20px;
}
.lista td{
   background:#fff;
   border:solid 1px #a3a3a2;   
   height:20px;   
   padding:0px;
   font-family: Tahoma,Arial,Helvetica,sans-serif;

}
.lista tr .cor{
   background:#ebebea url(../images/cor_bg.png) repeat-x !important;
}

.lista tfoot td{
    background:#abb64a url(../images/th_bg.png) repeat-x !important;
 	font-size:0px;
	height:5px !important;
}

.icone, .icone a {
	display:block;
	height:20px;
	line-height:200px;
	margin:auto;
	overflow:hidden;
	position:relative;
	width:23px;	
}
.icone span{
	font-size:0em !important;
}

.edit {
   background:url(../images/ico_edit.png) no-repeat !important;
   float:left;
   margin-right:5px;
   margin-left: 5px;
}   
.delete {
   background:url(../images/ico_del.png) no-repeat !important;
   float:left;
   margin-right:5px;
   margin-left: 5px;
}

.show {
   background:url(../images/ico_list.png) no-repeat !important;
   float:left;
   margin-right:5px;
   margin-left: 5px;
}

.senha {
   background:url(../images/ico_senha) no-repeat !important;
   float:left;
   margin-right:5px;
   margin-left: 5px;
}

.label{
    font-size:1.4em;
    font-family: Tahoma,Arial,Helvetica,sans-serif;

}

.botao2{

    background-color: #9AB607;
    color:#FFFFFF;
    font-size:1em;
    font-weight: bold;

}

.error{
    color: red;
    font-weight: bold;
}

a.linkCadastro{
    font-size:1.4em;
    font-weight: bold;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

#mensagemSistema{
    display:none;
    text-align: center;
    min-height: 15px;
    min-width: 15px;
    position: fixed;
    left:0px;
}

.lookup{
    position: absolute;
    top:25px;
    left:30%;
    z-index:99;
    padding: 10px;
    margin: 4px;
    display: none;
}

#lookup{
    text-align: center;
    min-height: 15px;
    min-width: 15px;
    position: fixed;
}

.btl{
    overflow:hidden;
    float:left;
    width:4px;
    height: 4px;
    background: url("../images/frame_main_corner1.png") no-repeat scroll left top transparent
}

.btr{
    overflow:hidden;
    float:right;
    width:4px;
    height: 4px;
    background: url("../images/frame_main_corner1.png") no-repeat scroll right top transparent;
}

.btp{
    background:url("../images/frame_main_3  .png") repeat scroll 0 0 transparent;
    height:4px;
    top:inherit;
    position:relative;
    overflow:hidden;
}

.bbp{
    background:url("../images/frame_main_3.png") repeat scroll 0 0 transparent;
    height: 4px;
    overflow: hidden;
}

.bbl{
    overflow:hidden;
    float:left;
    width:4px;
    height:4px;
    background: url("../images/frame_main_corner1.png") no-repeat scroll left -6px transparent;
}

.bbr{
    overflow:hidden;
    float:right;
    width: 1px;
    height:4px;
    background: url("../images/frame_main_corner1.png") no-repeat scroll right -6px transparent;
}

#mensagemSistema span{
    background-color: #8290A4;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    width: auto;
    font-weight: bold;
}

.clear1{
    clear:both;
    height:0;
    overflow:hidden;
}

.menu{
    width: 12%;
    float: left;
}

.menu li{
    text-align: center;
    list-style: none;
    padding: 1px;
    margin: 2px;
    
}

#centro{
    float: left;
    width: 100%;
    background-color: #D8D8D8;
}

#conteudo{
    
    padding: 15px;
}
