h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 170%;
}

h1 {
	font-size: 2em;
}

h1 span {
	position: relative;
	left: -3000px;
}

h1 a, h1 a:hover {
  display: block;
  height: 78px;       
  top:0px;
  text-decoration: none;
  width: 360px;  
}


h2 {
  font-size: 155%;
  line-height: 130%;
}

h2{
 font-size: 1.55em;
 border-bottom: #eeeeee 1px solid;
 width:98%;
}

h3 {
  font-size: 120%;
}

h4 {
  font-size: 102%;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 90%;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}


a:link, a:visited {
  color: #547200;
  text-decoration: none !important;
}

a:hover {
  color: #5d8802;
  text-decoration: underline;
}

a:active, a.active {
  color: #547200 ;
}


.combo{
     border: 0px rgb(0,0,0) solid !important;
     float:left;
     margin:0px;
     padding:0px;
     color:#807A3C;

}

#header_menu li a{
	color:#FFF !important;
	display:block;
	height:17px;
	padding-top:2px;
	position:relative;
	top:-2px;
        font-family: Tahoma,Arial,Helvetica,sans-serif;
}
#header_menu li a:hover{
	background: url(../images/li_bg2.jpg) no-repeat !important;
}


#busca label {
 font-size:1.7em;
 display:block;
 float:left;
 padding-right:3px;
 font-family: Tahoma,Arial,Helvetica,sans-serif;
}

#footer {
  clear:both;
  font-size: 0.8em;
  text-align: center;
}

.campo{
	color:#807A3C;
}
	
.legenda{
	font-size:1.1em !important;
	font-weight:bold;
}

.botao{
	color:#FFF;
	font-size:1em;	
	font-weight:bold;
}

.lista th{
 color:#fff;
 font-family: Tahoma,Arial,Helvetica,sans-serif;
}