* { 
    color:#232825;
	font-family:  Tahoma,Arial, Helvetica, sans-serif;
	margin: 0px; 
	padding: 0px; 
}


* html .clearfix {height: 1%;}


* {	outline: none; }
object { outline: none; }

* .loading{
 outline:none;	
 border:none !important;
}